@import url(variables.css);
@import url(utilities.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 3.125rem 0;
}

label {
    margin-bottom: 0.625rem;
}

form {
    padding: 3.125rem 0;
    width: 80%;
    margin: auto;
    border-radius: 0.625rem;
    background-color: #fff;
}

section {
    width: 80%;
    margin: 0 auto;
}

.ticket-body {
    background-color: #fff;
}

.col {
    padding: 0 1.25rem;
}

.ticket-info > .col{
    padding: 0;
}

.ticket-info > .col:first-child{
    border-right: 1px solid #000;
    background-color: var(--ticket-grey);
}


.info {
    padding: 1.25rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}


